.gradient_border_left {
    border-left-width: 5px;
  border-left-style: solid;
  border-image: linear-gradient(180deg, #007AB9 0%, #9626BD 100%);
  border-image-slice: 1;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  }

  .gradient_border_right {
    border-right-width: 4px;
    border-right-style: solid;
    border-image: linear-gradient(180deg, #007AB9 0%, #9626BD 100%);
    border-image-slice: 1;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
  }

  .gradient_border_top {
    border-top-width: 4px;
    border-top-style: solid;
    border-image: linear-gradient(180deg, #007AB9 0%, #9626BD 100%);
    border-image-slice: 1;
    border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  }